<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="Aqua" theme="Aqua" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>
