/*ff445b 主题颜色*/
body { font-family:Microsoft Yahei; font-size:16px; line-height:26px; padding:0; margin:0; color:#333;}
table,ul,li,ol,h1,h2,h3,h4,h5,h6,form{ margin:0; border:0; font-weight:normal; padding:0; margin:0;}
ul,ul li,ol,ol li{ list-style:none;}
code{font-family:Microsoft Yahei; font-size:16px; padding:0; margin:0;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff445b;}
.main{ min-width:1220px; width:100%; overflow:hidden;}
.clear{clear:both; height:0; width:100%; overflow:hidden; line-height:0; font-size:0;}
.site_bg{ background-color:#f6f6f6; width:100%;}
/*--------  Top  ---------*/
.topmenu{ height:32px; line-height:34px; font-size:14px; background-color:#f4f4f4; border-bottom:1px solid #ccc;}
.topmenu .t_body{ width:1200px; height:32px; margin:0 auto;}
.topmenu .t_body .please_login{ color:#06c;}
.topmenu .t_body .tb_left{ width:400px; float:left; height:32px;}
.topmenu .t_body .tb_menu{ float:right; height:16px; display:block; margin-top:8px;}
.topmenu .t_body .tb_menu li{ float:left; display:block; text-align:right; border-left:1px solid #333; height:16px; line-height:16px; padding:0 5px;}
/*-------- End Top  ---------*/

/*-------  Logo,搜索部分  --------*/
/*LOGO*/
.top_important{ height:130px; overflow:hidden; width:1200px; margin:0 auto;}
.top_important .logo{ float:left; text-align:left; width:300px; height:130px;}


/*搜索*/
.search{width:900px; float:left; height:130px; overflow:hidden;}
.search .serach_main{ height:80px;}
.search .serach_main .sm_div_txt{ margin-top:40px; height:34px; width:500px; border:2px solid #ff445b; float:left;overflow:hidden;position:relative;}
.search .serach_main .sm_div_txt .sm_txt{ padding:8px 8px; border:0; margin:0; width:486px; height:20px; line-height:20px; font-family:Microsoft Yahei; font-size:14px; position:relative; top:-1px; left:-1px; }
.search .serach_main .sm_btn{ width:90px; height:38px; line-height:38px; background-color:#ff445b; text-align:center; float:left; margin-top:40px;  color:White; font-size:16px;}

.search .serach_main .shoppingcart{ font-size:16px; line-height:36px; margin:40px 0 0 20px; height:36px; float:left; border:1px solid #dfdfdf; width:120px; text-align:center;}

.search .serach_link{height:50px; overflow:hidden;}
.search .serach_link .sl_ul{ height:30px; display:inline-block; float:left; overflow:hidden;}
.search .serach_link .sl_ul li{line-height:13px; height:13px; float:left; text-align:center; padding-right:10px; font-size:12px; border-right:1px solid #666; margin-top:7px; margin-right:10px;}
.search .serach_link .sl_ul li a{ color:#666;}
.search .serach_link .sl_ul li a:hover{ color:#ff445b;}
/*-------End  Logo,搜索部分  --------*/


/*---------   Menu   -----------*/
.menu{ width:100%;  min-width:1200px;  height:40px; border-bottom:2px solid #ff445b;}
.menu_center{ width:1200px; margin:0 auto;}
/*菜单分类*/
.menu_center .produtcategorymenu{ width:210px; height:40px; background-color:#ff445d; float:left; position:relative; z-index:9999;}
.menu_center .produtcategorymenu .ptm_all{ height:40px; color:#fff; font-size:18px; line-height:40px; text-indent:12px; background:no-repeat right 12px; width:198px; background-image:url(/styles/images/menulist_bg.png);}
.menu_center .produtcategorymenu .ptm_seniors{ position:absolute; top:40px; left:0;background-color:#fff; width:208px;  font-size:14px; height:329px; border:1px solid #ff5b71; border-top-width:2px; border-top-color:#ff445b;}
.ptm_seniors .ptm_senior{ height:32px; border-bottom:1px solid #ff5b71;   width:208px;}
.ptm_seniors .ptm_senior .ptm_senior_title{text-indent:10px; display:block;line-height:32px; font-size:14px;height:32px; width:208px; position:relative; background-color:#fff; z-index:1;}
.ptm_seniors .ptm_senior .ptm_senior_title:hover{ width:209px; border-right:0;}
.ptm_seniors .ptm_senior .ptms_ul{ position:absolute; background-color:#fff;  left:208px; top:0; width:400px; border:1px solid #ff5b71; border-top:0; padding:0 10px; display:none; height:329px;}
.ptm_seniors .ptm_senior .ptm_senior_title_more{ width:208px ! important;}
/*商城菜单*/
.menu_center .mc_ul{ float:left; line-height:40px; height:40px; margin-left:20px; text-align:center;}
.menu_center .mc_ul li{ float:left; display:block; overflow:hidden;}
.menu_center .mc_ul li a{ font-size:15px; display:block; text-align:center; float:left; height:40px; margin-right:20px;}



/*--------- End  Menu   -----------*/

/*Banner*/
.banner{width:100%;min-width:1220px; height:330px;  }
#full-screen-slider{ width:100%; height:330px; float:left; position:relative}
#slides { display:block; width:100%;height:330px; list-styles:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-styles:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-styles:none; position:absolute; left:50%; bottom:8px; z-index:997;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-styles:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px; height:10px; width:10px; font-size:10px; line-height:10px;}
#pagination li.current { background:#e50012}
.benner_wuguanggao{ text-align:center; padding-top:100px;}

/*End Banner*/

/*--- Home_Product  ---*/
/*Hot*/
.hp_hot{ width:1200px; overflow:hidden; margin-top:50px;}
.hp_hot .hp_hot_title{ font-size:20px; height:26px; line-height:26px; margin-bottom:15px;}
.hp_hot .hp_hot_items{ background-color:white; overflow:hidden; height:260px;}
.hp_hot .hot_item{ width:200px; float:left; overflow:hidden;}
.hp_hot .hot_item a{ height:222px; width:180px; padding:10px 9px 5px 10px; border-right:1px solid #f6f6f6; display:block; line-height:0; font-size:0; text-align:center; overflow:hidden;}
.hp_hot .hot_item a img{width:180px; height:180px;}
.hp_hot .hot_item a span{ font-size:14px; text-align:center; line-height:18px; height:36px; margin-top:8px; display:block; overflow:hidden;}
.hp_hot .hot_item .price{ color:#e50012; display:block; height:16px; line-height:16px; font-size:14px; font-weight:bold; text-align:center; width:180px; margin:0 auto;}
/*End Hot*/

/*Recommend*/
.h_product{ width:1200px; margin:0 auto; overflow:hidden;}
.h_product .hp_rcm{width:1200px; overflow:hidden; margin:40px 0 0;}
.hp_rcm .hp_rcm_items{ overflow:hidden; width:100%;}
.hp_rcm .rcm_item{ float:left; width:390px; margin-left:15px; overflow:hidden;  background-color:white;}
.hp_rcm .rcm_item .rcm_item_title{ height:50px; line-height:50px; width:100%;}
.rcm_item .cit_bg{ background-color:#419dae;}
.rcm_item .cit_bgo{ background-color:#867bc5;}
.rcm_item .cit_bgt{ background-color:#a25683;}
.hp_rcm .rcm_item .rcm_item_title h5{ font-size:20px; color:white; float:left; width:200px; text-indent:10px;}
.hp_rcm .rcm_item_title .more{ float:right; display:block; height:20px; text-align:right; margin:20px 10px 0 0; color:white; font-size:12px; line-height:26px; overflow:hidden; }
.hp_rcm .ri_product{ width:390px;  overflow:hidden; margin-top:10px; padding-bottom:10px;}
.hp_rcm .ri_product li{float:left; width:179px; height:140px; margin-left:10px; border:1px solid #f6f6f6; border-left:0; border-top:0;}
.hp_rcm .ri_product li.no_bordr{ margin:0; width:190px; border-right:0;}
.hp_rcm .ri_product li a{ display:block; width:100%; height:140px; position:relative;}
.hp_rcm .ri_product li a img{ position:absolute; bottom:0; right:0; width:90px; height:90px;}
.hp_rcm .ri_product li a span{ float:left; width:85px; font-size:14px; display:block; line-height:20px; margin-top:10px;}
.hp_rcm .ri_product li.no_bordr a span{  margin-left:10px;}
/*End Recommend*/


/*-----Floor----*/
.h_product .hp_category{ overflow:hidden; margin-top:30px;}
.hpc_title{height:26px;  overflow:hidden; margin-bottom:15px;}
.hpc_title h3{ height:26px; font-size:20px; line-height:26px; color:#333; float:left; width:300px;}
.hpc_title .more{ float:right; color:#e50012; font-size:12px; display:block; height:18px; line-height:22px; overflow:hidden; margin-top:8px;}
.hpc_body{ overflow:hidden; height:500px;}

.hpc_body .hpcd_rcm{ float:left; width:240px; overflow:hidden; background-color:#f1f1f1; height:500px;}
.hpc_body .hpcd_rcm a{line-height:0; font-size:0; display:block; height:500px;}
.hpc_body .hpcd_rcm img{ width:100%; height:100%;}

.hpc_body .hpcd_product{ overflow:hidden; float:left; width:960px; height:498px; border:1px solid #ccc; border-left:0;  border-right:0; background-color:white;}
.hpcd_product .h_product_item{ float:left; height:249px; width:191px; border:1px solid #ccc; border-left:0; border-top:0;}
.hpcd_product .hpi_img{ width:170px; height:170px; overflow:hidden; display:block; padding:10px 9px 10px 10px;}
.hpcd_product .hpi_img img{width:170px; height:170px;}
.hpcd_product .hpi_title{ display:block; font-size:14px; width:170px; margin:0 auto; height:32px; overflow:hidden; line-height:16px; text-align:center;}
.hpcd_product .price{ color:#e50012; font-weight:bold; font-size:14px; display:block; width:170px; height:18px; line-height:18px; text-align:center; margin:2px auto 0;}
/*-----End Floor----*/
/*--- End Home_Product  ---*/
.home_rcm{ width:1200px; height:115px; overflow:hidden; margin:0 auto; margin-top:20px;}
.home_rcm a{ display:block; line-height:0;width:1200px; height:115px; }
.home_rcm img{ width:100%; height:100%;}


/*------  Footer  ------*/
.footer{ width:100%;  overflow:hidden; margin-bottom:50px; font-size:12px;}
.footer .f_bg{border-bottom:1px solid #ccc; height:20px; background-color:#f6f6f6; width:100%;}
.footer .f_top{ width:1200px; margin:0 auto; overflow:hidden; padding-bottom:20px; border-bottom:1px solid #e4e4e4;}
.footer .f_w{ width:1000px; overflow:hidden; margin-top:50px; border-right:1px solid #ccc; float:left; height:150px;}
ul.f_w .w_item{ float:left; width:200px;}
ul.f_w .w_item strong{ font-size:14px; display:block; color:#666;}
ul.f_w .w_item ul.wis{ width:100%;}
ul.f_w .w_item ul.wis li{ height:26px; line-height:26px;}
.footer .f_qrc{ width:100px; float:right; margin-top:50px; height:150px; overflow:hidden;}
.footer .f_qrc span{ display:block; float:right; height:16px; line-height:14px; text-align:left; width:100px; font-size:12px;}
.footer .f_qrc span.ts{ margin-bottom:10px;}
.footer .f_qrc span.af{ margin-top:10px;}
.footer .f_qrc img{ float:right; width:100px; height:100px;}
.footer .copyright{ text-align:center; width:1200px; margin:20px auto 0; overflow:hidden; line-height:24px;}
.footer .copyright a{ color:#ff445b;}
.footer .copyright img{ display:inline-block; height:16px; position:relative; top:4px;}
.footer .copyright a.service{ font-size:0; line-height:0; display:inline-block;  position:relative;}
/*------ End  Footer  ------*/

/*--NAV--*/
.navbody{ height:40px; width:100%; background-color:#f4f4f4;  }
.navbody .navs{ width:1200px; margin:0 auto; overflow:hidden; height:40px;}
.navbody .navs li{ float:left;line-height:40px; font-size:14px;}
.navbody .navs li.nav{ font-size:12px;color:#666;}
.navbody .navs li.nav a{color:#666;}
.navbody .navs li.nav a:hover{color:#ff445b;}
.navbody .navs li.nav_gt{ font-family:serif; padding:0 6px;}
.navbody .navs li.nav_c{ height:20px; overflow:hidden; margin-top:10px; font-size:12px;}
.navbody .navs li.nav_c a{ display:block; border:1px solid #ccc; height:18px; line-height:18px; padding:0 22px 0 8px; cursor:pointer; background:no-repeat right top; background-image:url(/styles/images/close.png);}
.navbody .navs li.nav_c a:hover{  border-color:#ff445b;background:no-repeat right top; background-image:url(/styles/images/close_hover.png);}
/*--End NAV--*/

/*------------Product--------------*/
.product{ width:1200px; overflow:hidden; margin:0 auto;}
.p_category_items{overflow:hidden; border-top:1px solid #ccc; width:1200px; margin-top:15px;}
.p_category_items .pci{ overflow:hidden; border-bottom:1px solid #ccc; width:1200px; background-color:#f3f3f3; font-size:12px; position:relative;}
.p_category_items .pci .pci_title{ width:100px; float:left; text-align:left; padding-left:10px; height:100%; line-height:38px; white-space:nowrap; overflow:hidden;}
.p_category_items .pci .pci_list{ float:left; width:1000px; background-color:white; padding:6px 90px 6px 0;}
.p_category_items .pci .pci_list li{ float:left; margin-left:40px; line-height:26px;}
.p_category_items .pci .pci_list li a{ display:block; text-align:center; white-space:nowrap; padding:0 4px 0 18px; overflow:hidden;}
.multiselect{position:absolute; width:50px; text-align:center;line-height:24px; height:24px; border:1px solid #ddd; display:block; font-size:12px; right:20px; top:6px; font-weight:normal; cursor:pointer;}
.multiselect:hover{color:#ff445b;}
.pci_btns{ width:1090px; margin:0 auto; display:none; background-color:white; position:absolute; left:110px; height:50px; bottom:0;}
.pci_btns ul{ display:block; width:114px; height:26px; margin-left:400px; margin-top:10px;}
.pci_btns ul li{ float:left; border:1px solid #ccc; width:50px; text-align:center; height:22px; line-height:22px; border-radius:3px;}
.pci_btns ul li.submit{ background-color:#ff445b; color:white; margin-right:10px; display:none;}
.pci_btns ul li.cancle{ background-color:#f3f3f3; float:right;}
.p_category_items .pci_add{ padding-bottom:50px;}
.p_category_items .pci_add .pci_list li{ position:relative;}
.p_category_items .pci_add .pci_list li i{ position:absolute;background:no-repeat left top; background-image:url(/styles/images/c_select1.png); text-indent:99px;  overflow:hidden; display:block; height:24px; width:100%;  border:1px solid #ccc; float:left;}
.p_category_items .pci_add .pci_list li:hover i{border-color:#ff445b;background:no-repeat left top; background-image:url(/styles/images/c_select.png);}
.p_category_items .pci_add .pci_list li.current i{ background:no-repeat left top; background-image:url(/styles/images/c_select.png); border:1px solid #ff445b; position:absolute; left:0px; top:0px; }

.product_body{ overflow:hidden; width:1200px; margin-top:10px;}
.product_body .product_left{float:left; width:180px; overflow:hidden;}
.product_body .product_left .pl_list{ overflow:hidden; width:178px; border:1px solid #ccc; color:#666;}
.product_body .pl_list li{ overflow:hidden; width:160px; margin:0 9px;}
.product_body .pl_list li.pl_list_title{font-size:14px; height:16px; line-height:16px;  font-weight:bold; margin:8px 9px 15px;}
.product_body .pl_list li a{ display:block;}
.product_body .pl_list li .pll_img{ line-height:0; font-size:0; display:block; width:160px; height:160px;}
.product_body .pl_list li .pll_img img{width:160px; height:160px;}
.product_body .pl_list li .price{color:#ff445b; font-size:12px; display:block; height:18px; line-height:18px; padding:5px 0 3px;}
.product_body .pl_list li .pll_title{ font-size:12px; line-height:18px; margin-bottom:20px;}
.product_body .product_left .pl_rcm{ width:180px; overflow:hidden; margin:20px 0;}
.product_left .pl_rcm a{ display:block; line-height:0; font-size:0;}
.product_left .pl_rcm img{ width:180px;}
.product_body .product_right{ width:1010px; float:left;}
/*------------End Product--------------*/